spring:
  datasource:
    url: jdbc:h2:mem:products
    driverClassName: org.h2.Driver
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: none   # let SQL scripts handle schema
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always   # important! ensures scripts run for embedded DB
      schema-locations: classpath:data.sql
      data-locations: classpath:data.sql   # if using same file
server:
  port: 8181

application:
  jwk-set-uri: ${JWK_SET_URI:http://localhost:9000/oauth2/jwks}
  cors:
    origins:
      - http://localhost:4200
      - http://localhost:3000
      - http://localhost:8080
      - http://192.168.1.70:8080
      - http://192.168.1.70:8081
      - http://192.168.1.70:3000
      - http://192.168.1.70:4200

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
    info:
      access: read_only
  info:
    env:
      enabled: true

info:
  app:
    name: Resource Server Application
    description: Resource server application.
    version: 1.0.0
    profile: default
    owner: Rupesh Dulal
    website: https://www.alfarays.tech
  build:
    timestamp: "@timestamp@"
  developer:
    name: "Rupesh Dulal"
    email: "rupeshdulal672@gmail.com"
    github: "https://github.com/rupeshdulal"

