spring:
  application:
    name: ${APPLICATION_NAME:authorization-server}
  config:
    import:
      - "optional:application-production.yaml"

  security:
    oauth2:
      authorizationserver:
        issuer: ${SECURITY_OAUTH2_AUTHORIZATIONSERVER_ISSUER:http://localhost:9000}

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: ${SERVER_PORT:9000}

logging:
  pattern:
    console: ${LOG_PATTERN_CONSOLE:%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n}


application:
  url: ${APPLICATION_URL:localhost}
  cors:
    endpoints: ${APPLICATION_CORS_ENDPOINTS:http://localhost:4200,http://localhost:3000,http://localhost:8080,http://192.168.1.70:8081}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
    info:
      access: read_only
  info:
    env:
      enabled: true

info:
  app:
    name: Authorization Server Application
    description: Authorization server application.
    version: 1.0.0
    profile: default
    owner: Rupesh Dulal
    website: https://www.alfarays.tech
  build:
    timestamp: "@timestamp@"
  developer:
    name: "Rupesh Dulal"
    email: "rupeshdulal672@gmail.com"
    github: "https://github.com/rupeshdulal"
