spring:
  application:
    name: ${APPLICATION_NAME:authorization-server}
  config:
    import:
      - "application-production.yaml"

  security:
    oauth2:
      authorizationserver:
        issuer: http://localhost:9000

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: ${SERVER_PORT:9000}

logging:
  pattern:
    console: ${LOG_PATTERN_CONSOLE:%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n}


application:
  cors:
    endpoints: http://localhost:4200,http://localhost:3000,http://localhost:8080

